<a href="https://colab.research.google.com/github/aigera-b/python-exercises-/blob/main/Intro_Python_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#hello, world!
print("Today is a beautiful day.")

Today is a beautiful day.

In [9]:
#variables and types
#numbers can be integers and floats 
int1 = 18
print (int1)

float1 = 0.75
print (float1)

float1 = float (43)
print(float1)

18
0.75
43.0

In [11]:
#strings 
string1 = 'Time is flying by'
print(string1)

string2 = "Stay hydrated"
print(string2)

string3 = "Don't worry about other people's opinions" #double quotes work better if you use apostrophes, single quotes will not work
print(string3)

Time is flying by
Stay hydrated
Don't worry about other people's opinions

In [13]:
#additional variations on defining strings
apples = 45
pears = 23
fruits = apples + pears
print(fruits)

first = "hello"
second = "world"
sent = first + ", " + second
print(sent)

68
hello, world

In [17]:
a, b = 3, 6
print(b)
print(a, b)

6
3 6

In [19]:
mystring = "hello"
myint = 20
myfloat = 10.0

print(mystring)
print(myint)
print(myfloat)

hello
20
10.0